// local variables

$gradientTriangleBLue: linear-gradient(45deg, #d6d5d5, #d6d5d5 50.1%, var(--main-blue-color) 50%);
$gradientTriangleOrange: linear-gradient(45deg, #d6d5d5, #d6d5d5 50.1%, var(--main-orange-color) 50%);
$gradientBlue: linear-gradient(to right, #d6d5d5 10px, var(--main-blue-color) 4%);
$gradientOrange: linear-gradient(to right, #d6d5d5 10px, var(--main-orange-color) 4%);

.order-button {
  padding: 11px 16px;
  color: #fff;
  text-decoration: none;
  background-color: var(--main-orange-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.quiz {
  &__head-title {
    background-color: #ebebec;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 1.5em;
    margin-bottom: 10px;

    @include above($lg) {
      align-items: center;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 20px;

    @include above($lg) {
      margin-bottom: 0;
      width: 560px;
    }
  }

  &__head-button {
    width: 100%;

    &:focus {
      outline: none;
    }

    @include above(425px) {
      width: 240px;
    }
  }

  &__order-button {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    margin: 0 auto;

    @include above(425px) {
      width: 240px;
    }
  }

  &__final-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1.5em;
  }

  &__final-msg-image {
    margin-left: 1em;
  }

  &__wrapper {
    padding-top: 15px;

    &.is-active {
      animation: fadeOut 300ms cubic-bezier(0.4, 0, 0.6, 1);
    }
  }

  &__question {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    padding: 0.4em 0;
    line-height: 1.15em;
    color: #1b1b1b;

    @include above($md) {
      margin: 0;
      font-size: 36px;
    }

    @include above($lg) {
      margin: 0;
      padding: 0;
      font-size: 48px;
    }
  }
}

.quiz-body {
  transition: all 220ms cubic-bezier(0.4, 0, 0.6, 1);
  background-color: #ebebec;
  padding: 1.5em;
  overflow: hidden;
  min-height: $height-quiz-body;

  &__header {
    margin-bottom: 16px;
  }

  &__answer-container {
    padding: 0;
    transition: all 220ms cubic-bezier(0.4, 0, 0.6, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ebebec;
  }

  &__answers-list {
    padding: 0;

    @include above($md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__answer-container {
    &--result {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 25px;
    }
  }

  &__result {
    width: 100%;
    padding: 20px 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.16;
    color: #000000;
    transition: transform 220ms cubic-bezier(0.4, 0, 0.6, 1);
    text-align: center;
    margin-bottom: 24px;

    @include above($lg) {
      font-size: 24px;
    }
  }

  &__question-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15em;
    color: #9b9b9b;
    margin-bottom: 0;
  }
}

.answer {
  position: relative;
  padding: 0 1em;
  cursor: pointer;
  font-size: 16px;
  background-color: #d6d5d5;
  transition: transform 220ms cubic-bezier(0.4, 0, 0.6, 1);
  overflow: hidden;
  height: $height-answer-mobile;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
  }

  &__joke {
    position: absolute;
    background-image: $gradientTriangleBLue, $gradientBlue;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: $height-answer-mobile, cover;
    padding-left: $height-answer-mobile;
    color: transparent;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    transform: translateX(100%);

    &--wrong {
      background-image: $gradientTriangleOrange, $gradientOrange;
    }

    &.animate {
      animation: isActive $mainAnimationDur ease-in forwards, opacity $shortAnimationDur $delay ease forwards;

      @include reduceMotion {
        animation: none;
      }
    }

    @include above($sm) {
      background-size: $height-answer-desktop, cover;
      padding-left: $height-answer-desktop;
    }
  }

  @include above($sm) {
    height: $height-answer-desktop;
  }

  @include above($md) {
    width: 49.5%;
    padding: 0 30px;
  }

  @include above($lg) {
    font-size: 24px;
  }
}

.quiz-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  a {
    display: flex;
    width: 130px;
    height: 130px;
    padding: 30px;
    background-color: var(--main-blue-color);
    justify-content: center;
    align-items: center;

    img {
      transition: all 220ms cubic-bezier(0.4, 0, 0.6, 1);
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @include above($md) {
      width: 160px;
      height: 160px;
    }
  }

  @include above($md) {
    flex-direction: row;

    li {
      margin: 0 40px;
    }
  }
}

.quiz-link {
  display: inline-block;
  color: var(--main-blue-color);

  &:visited {
    display: inline-block;
    color: var(--main-blue-color);
  }

  &--share {
    margin-top: 15px;
    text-decoration: underline;
  }
}
