@import 'variables';
@import 'mixins';
@import 'animations';
@import './blocks/quiz';

* {
  box-sizing: border-box;
}

li {
  margin-bottom: 15px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}